<!doctype html>
<html lang="en">
  <head>
  	<title>Upload</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	</head>
	<body>
    {{ if . }}
    <!--inform-->
    <div class="alert alert-warning alert-dismissible fade show" style="margin-bottom: 0px" role="alert">
        {{.}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{ end }}
    <section class="vh-100" style="background-color: #d1d5c1;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <form action="" method="POST" enctype="multipart/form-data" class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <h3 class="mb-5">Upload</h3>
                <div class="form-outline mb-4">
                  <input type="text" name="title" class="form-control form-control-lg" required="required">
                  <label class="form-label">Title</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" name="cover" class="form-control form-control-lg">
                  <label class="form-label">Cover(URL)</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="file" name="video" class="form-control form-control-lg" required="required" accept="video/*">
                  <label class="form-label">Video</label>
                </div>
    
                <button class="btn btn-primary btn-block" type="submit">Upload</button>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
	</body>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>

